/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contact-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-shadow: 0.05em 0.05em 2px rgb(172, 171, 171);
  }
}

  
  .basic-information{
    grid-area: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  
  .basic-information span{
    margin: 1em;
  }
  
  .info-holder{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke; 
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0px 0px 10px rgb(190, 186, 186);
  }
  
  
  
  .medium-size-self-pic{
    grid-area: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .medium-size-self-pic img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  
  .bussiness-section{
    grid-area: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 1em;
  }
  
  .bussiness-info{
    height: 100%;
    width: 90%;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0px 0px 10px rgb(190, 186, 186);
  }
  
  .bussiness-info span{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bussiness-info .links{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .links a{
    margin: 10px;
    color: black;
  }