.App {
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


.first-content{
  display: flex;
  width: 80%;
  background-color: white;
  transition: width 0.4s;
}

.first-content-shrink{
  width: 0%;
}

.right-item{
  width: 5%;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
  border-left: 1px solid rgb(128, 129, 131);
  background-color: rgb(50, 53, 54)
}


.right-item-active{
  width: 85%;
}

.name-wrapper:hover{
  background-color: rgb(97, 97, 97);
  /* transform: translateX(-15%); */
}

.name-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.name-wrapper-active{
  width: 5%;
  background-color: rgb(175, 175, 175);
}

.name-wrapper p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
}

.content-wrapper{
  width: 0%;
  display: none;
}

.content-wrapper-active{  
  display: block;
  width: 95%;
  background-color: rgb(255, 255, 255);
  overflow-x: auto;
  color: rgb(38, 43, 44);
}

