.App {
  text-align: center;
  position: relative;
  height: 100%;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


.first-content{
  display: flex;
  width: 80%;
  background-color: #CDF6FF;
  transition: width 0.4s;
}

.first-content-shrink{
  width: 0%;
}

.right-item{
  width: 5%;
  display: flex;
  justify-content: center;
  transition: transform 0.4s, width 0.4s;
  border-left: 1px solid rgb(103, 123, 127);
  background-color: rgb(103, 186, 204)
}


.right-item-active{
  width: 85%;
}

.name-wrapper:hover{
  background-color: lightgray;
  /* transform: translateX(-15%); */
}

.name-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.name-wrapper-active{
  width: 5%;
  background-color: #40747F;
}

.name-wrapper p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
}

.content-wrapper{
  width: 0%;
  display: none;
}

.content-wrapper-active{  
  display: block;
  width: 95%;
  background-color: rgb(230, 250, 255);
  overflow-x: auto;
}


.home-grid{
  height: 100%;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: 
  'topLeft topLeft .       .       topRight topRight topRight topRight'
  'topLeft topLeft center  center  center   center   .        .'
  '.       .       center  center  center   center   .        .'
  '.       .       center  center  center   center   botRight botRight'
  'botLeft botLeft botLeft botLeft .      .        botRight botRight';
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(19, 70, 80);
  text-shadow: 0.05em 0.05em 2px rgb(172, 171, 171);
}

.home-grid .home-center{
  grid-area: center;
  /* background-color: lightcyan; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  /* box-shadow: 5px 5px gainsboro; */
  background:white;
  box-shadow: 0px 0px 10px rgb(80, 79, 79) inset;
}


.home-center span{
  text-align: justify;
  padding: 0 10px;
}

.home-grid .home-top-left{
  grid-area: topLeft;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  /* border-bottom: 1px dashed; */
}

.home-top-left, .home-bot-left, .home-top-right, .home-bot-right span{
  text-align: justify;
  font-size: 14px;
  padding: 0 10px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home-grid .home-top-right{
  grid-area: topRight;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  /* border-left: 1px dashed; */
}

.home-grid .home-bot-left{
  grid-area: botLeft;
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: column;
  /* border-right: 1px dashed; */
}


.home-grid .home-bot-right{
  grid-area: botRight;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* border-top: 1px dashed; */
}


.projects-container{
  width: 100%;
  overflow: auto;
  column-count: 3;
  column-gap: 1em;
  /* display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 400px;
  grid-column-gap: 1em; */
  padding: 1.5em;
}

.project-item{
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.4s;
  background: whitesmoke;
  border: 1px solid rgb(216, 213, 213);
}

.project-item:hover .project-item:not(:hover){
  transform: scale(1.10);
}

.project-item:hover{
  transform: translateY(10px);
  border: 1px solid rgb(173, 172, 172);
}

.project-content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-item img{
  width: 100%;
  height: 50%;
  filter: grayscale(50%);
}

.project-item .project-description{
  height: 50%;
}

.project-description span{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  text-align: justify;
  text-shadow: 0.02em 0.02em 1px rgb(172, 171, 171);
}

.project1{
}

.project2{
}

.project3{
}

.project4{
}

.project5{
}